h1 {
  font-size: 23/16*1em;
  line-height: 1.2;
}

h2 {
  font-size: 18/16*1em;
  line-height: 1.4;
  font-weight: 600;
}

h3 {
  font-size: 20/16*1em;
  line-height: 1.2;
}

// specific headings

#page-title {

}

.block-title {

}
