sites/default/files
sites/default/private
sites/default/settings.php
cache/
files/
robots.txt
.DS_Store
.sass-cache/
*.swp
*.swo
sites/all/themes/main/css
sites/all/themes/main/images
sites/all/themes/main/js
node_modules
*.sublime-project
*.sublime-workspace
dbbackup
